<table>
  <% if user_signed_in? %>
    <% if pet.favorited_by?(current_user) %>
      <%= link_to pet_favorite_path(pet.id, favorite.id), method: :delete, remote: true do %>
      <i class="fas fa-heart"  style="color: red"></i>
      <%= pet.favorites.count %> いいね
      <% end %>
    <% else %>
      <%= link_to pet_favorites_path(pet), method: :post, remote: true do %>
      <i class="far fa-heart"></i>
      <%= pet.favorites.count %> いいね
      <% end %>
    <% end %>

  <% else %>
    <%= link_to new_user_session_path do %>
    <i class="far fa-heart"></i>
    <%= pet.favorites.count %> いいね
    <% end %>
  <% end %>

</table>