<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <table class="table table-bordered table-hover table-condensed">

      <!--カテゴリ-->
          <% Category.all.each do |category| %>
              <%= link_to category.name, categories_path(category) %>
          <% end %>
      <!--検索-->
          <%= search_form_for @search, url: pets_path do |f| %>
            <span><%= f.text_field :title_cont ,placeholder: 'タイトル' %></span>
            <span><%= f.submit "検索" %></span>
          <% end %>

      <!--表示-->
          <h2>Pet 一覧</h2>
          <p>(全<%= @search_pets.count %>件)</p> <br></br>
          <%= render 'card', pets: @search_pets %>
      </table>
    </div>
  </div>
</div>
<%= link_to new_pet_path do %><div class="page_top"></div><% end %>